.login-bg-container {
  padding: 0;
  min-height: 100vh;
  height: 100%;
}

.login-content-container {
  padding: 2.5rem;
}

.login-bg-container,
.login-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-main-img {
  display: none;
}

/* .login-form-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  margin: 0;
  font-family: 'Roboto';
  border-radius: auto;
  box-shadow: auto;
} */

.login-form-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-input-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0;
  font-family: 'Roboto';
  border-radius: auto;
  box-shadow: auto;
  width: 100%;
}

.login-brand-img {
  width: 50%;
}

.login-main-brand-img {
  width: 50%;
  margin-bottom: 3rem;
}

.login-form-brand-img {
  display: none;
}

.login-form-img {
  display: block;
  width: 90%;
}

.login-brand-img,
.login-form-img {
  margin-bottom: 3rem;
}

.login-form-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.login-form-input-label {
  color: #475569;
  font-size: 1rem;
  font-weight: 550;
  margin-bottom: 0.5rem;
  align-self: flex-start;
}

.login-form-input {
  padding: 0.75rem 1rem;
  background-color: #d7dfe9;
  color: #64748b;
  border-radius: 0.2rem;
  outline: none;
  border: none;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #0b69ff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.6rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 550;
  margin-top: 0.5rem;
}

.login-error-message {
  color: #ff0b37;
  font-size: 0.8rem;
  align-self: flex-start;
}

@media (min-width: 992px) {
  /* .login-form-content-container {
    padding: 3.5rem;
    margin: auto;
    border-radius: 0.4rem;
    box-shadow: 0 0 0.5rem 0 #e2e8f0;
    width: 30%;
  } */

  .login-form-content-container {
    flex-direction: row;
    width: 100%;
    padding: 3.5rem;
    margin: auto;
  }

  .login-form-input-content-container {
    border-radius: 0.4rem;
    box-shadow: 0 0 0.5rem 0 #e2e8f0;
    width: 30%;
    padding: 3rem;
  }

  .login-brand-img {
    width: 70%;
    margin-bottom: 2rem;
  }

  .login-main-brand-img {
    display: none;
  }

  .login-form-brand-img {
    display: block;
    width: 70%;
    margin-bottom: 2rem;
  }

  /* .login-form-img {
    display: none;
  } */

  .login-form-img {
    display: block;
    width: 60%;
    margin: auto;
  }

  .login-main-img {
    display: block;
    width: 60%;
    margin: auto;
  }
}
